.card {
  margin: 100px;
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
}
img{
  width: 100%;
}
.info{
    width: 100%;
  padding: 10px;
}
.info h2,.info p{
    margin: 5px;
}